/**
 * Global page styles
 */
html, body, div, button, p, img, h1, h2, h3, h4, pre {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #202020;
}

.main {
    position: relative;
    width: 600px;
    margin: 80px auto 0 auto;
}

.main h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 40px 0;
}

.main h2 {
    font-weight: 500;
    padding: 20px 0 0 0;
    margin: 0 0 20px 0;
    line-height: 27px;
    font-size: 27px;
}

.main p {
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 20px 0;
}

.main pre {
    background: #444444;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    margin: 0 0 20px 0;
    border-radius: 3px;
    font-size: 14px;
    font-family: Courier;
}

.fork-me {
    position: absolute;
    z-index: 3;
    display: block;
    width: 141px;
    height: 141px;
    top: 0;
    right: 0;
    background: url(images/fork-me.png) no-repeat 0 0;
}